<section class="heroSection">
  <div class="heroSection__bg">
    {% include "@components/header/header.twig" %}
    <div class="heroSection__info">
      <div class="heroSection__info-img">
        <img src="images/ico/medail.svg" alt="madail" />
      </div>
      <h1 class="heroSection__title text-xl fw-normal">Analýza výsledků</h1>
      <div class="text-xxl fw-bold">John Doe</div>
    </div>
  </div>
</section>
