<section class="heroSection">
  <div class="heroSection__bg">
    {% include "@components/header/header.twig" %}
    <div class="heroSection__info">
      <div class="heroSection__info-img">
        <img src="images/ico/medail.svg" alt="madail" />
      </div>
      <div class="text-lg">Generali Investments</div>
      <div class="heroSection__title text-xl">Analýza výsledků</div>
      <h1 class="text-xxl">John Doe</h1>
    </div>
  </div>
</section>
