<ul class="trackList">
  <li class="trackList__item">
    {% include "@images/delka.svg" %}
    <div class="trackList__item-info">
      <p>Celková délka trati</p>
      <div class="text-md fw-bold">18.2 Km</div>
    </div>
  </li>
  <li class="trackList__item">
    {% include "@images/metry.svg" %}
    <div class="trackList__item-info">
      <p>Nastoupané výškové metry</p>
      <div class="text-md fw-bold">2 500 m</div>
    </div>
  </li>
  <li class="trackList__item">
    {% include "@images/stopky.svg" %}
    <div class="trackList__item-info">
      <p>Průměrný čas běhu na 1 km</p>
      <div class="text-md fw-bold">06:00 min/km</div>
    </div>
  </li>
  <li class="trackList__item">
    {% include "@images/tempo.svg" %}
    <div class="trackList__item-info">
      <p>Tempo na posledním kilometru</p>
      <div class="text-md fw-bold">06:00 min/km</div>
    </div>
  </li>
</ul>
