<header class="header">
  <div class="header__logos">
    <a href="#" target="_blank">
      <img
        srcset="images/ico/general.svg, images/ico/general2.svg 680w"
        sizes="(min-width: 1132px) 225px, (min-width: 800px) 225px, 100vw"
        width="225"
        height="68"
        loading="lazy"
        alt=""
      />
    </a>
    <a href="#">
      <img src="images/ico/bl.svg" alt="fb" />
    </a>
  </div>
  <div class="social">
    <a href="#" target="_blank">
      <img src="images/ico/fb.svg" alt="fb" />
    </a>
    <a href="#" target="_blank">
      <img src="images/ico/share.svg" alt="fb" />
    </a>
  </div>
</header>
