<header class="header">
  <div class="header__logos">
    <a href="#" target="_blank">
      <img src="images/ico/general2.svg" alt="fb" />
    </a>
    <a href="#">
      <img src="images/ico/bl.svg" alt="fb" />
    </a>
  </div>
  <div class="social">
    <a href="#" target="_blank">
      <img src="images/ico/fb.svg" alt="fb" />
    </a>
    <a href="#" target="_blank">
      <img src="images/ico/share.svg" alt="fb" />
    </a>
  </div>
</header>
