<div class="timeline" id="timelineItems">
  <div class="timeline__item clearfix">
    <div class="timeline__date"><span> 116:0611</span> min/km</div>
    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#modal-1"
      class="timeline__icon"
    >
      <img src="images/ico/hrad.svg" alt="icon" />
    </a>
    <div class="timeline__content">
      <a
        href="#"
        data-bs-toggle="modal"
        data-bs-target="#modal-1"
        class="text-sm fw-bold text-primary mb-2"
        >Karlštejn Penny běh</a
      >
      <p>1. Místo | 01:48:38</p>
      <p>28.05.2023</p>
    </div>
  </div>
  <div class="timeline__item clearfix">
    <div class="timeline__date"><span> 6:06 </span> min/km</div>
    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#modal-1"
      class="timeline__icon"
    >
      <img src="images/ico/hrad.svg" alt="icon" />
    </a>
    <div class="timeline__content">
      <a
        href="#"
        data-bs-toggle="modal"
        data-bs-target="#modal-1"
        class="text-sm fw-bold text-primary mb-2"
        >Karlštejn Penny běh</a
      >
      <p>1. Místo | 01:48:38</p>
      <p>28.05.2023</p>
    </div>
  </div>
  <div class="timeline__item clearfix">
    <div class="timeline__date"><span> 6:06 </span> min/km</div>
    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#modal-1"
      class="timeline__icon"
    >
      <img src="images/ico/hrad.svg" alt="icon" />
    </a>
    <div class="timeline__content">
      <a
        href="#"
        data-bs-toggle="modal"
        data-bs-target="#modal-1"
        class="text-sm fw-bold text-primary mb-2"
        >Karlštejn Penny běh</a
      >
      <p>1. Místo | 01:48:38</p>
      <p>28.05.2023</p>
    </div>
  </div>
  <div class="timeline__item clearfix">
    <div class="timeline__date"><span> 6:06 </span> min/km</div>
    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#modal-1"
      class="timeline__icon"
    >
      <img src="images/ico/hrad.svg" alt="icon" />
    </a>
    <div class="timeline__content">
      <a
        href="#"
        data-bs-toggle="modal"
        data-bs-target="#modal-1"
        class="text-sm fw-bold text-primary mb-2"
        >Karlštejn Penny běh</a
      >
      <p>1. Místo | 01:48:38</p>
      <p>28.05.2023</p>
    </div>
  </div>
  <button
    type="button"
    class="timeline__item clearfix js-fetchHTML"
    data-fetch-url="./_timelineItems.html"
    data-fetch-container="#timelineItems"
    data-fetch-limit="5"
    data-text="Načíst další  "
    data-text-fetching="Načítám..."
    data-text-error="Omluvte chybu, nepodařilo se načíst"
  >
    <div class="timeline__icon">
      <span>{% include "@images/chevron-down.svg" %}</span>
    </div>
    <div class="timeline__content">
      <div class="fw-medium pt-2 text-start mt-1">Načíst další</div>
    </div>
  </button>
</div>

<div class="modal fade" id="modal-1" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-title">
          <div class="text-large fw-bold">Přihlásit se na další závody</div>
        </div>

        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam dui
          sem, fermentum vitae, sagittis id, malesuada in, quam.
        </p>
        <a href="#" class="btn"
          >Chci se účastnit {% include "@images/chevron-down.svg" %}</a
        >
      </div>
    </div>
  </div>
</div>
