.footer {
  padding: 0 16px 16px;

  &__inner {
    background-color: var(--color-gray);
    max-width: 128rem;
    margin: 0 auto;
    border-radius: 6px;
    padding: 16px 0;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: #dfdfdf;
    }
  }
}
